<div>
  <div *ngIf="!userLoggedIn">
    <h4>Please register or login before the order can be submitted</h4>
    <br />
    <button style="margin-left: 20px" (click)="register()">Register</button>
    <button style="margin-left: 20px" (click)="login()">Log-in</button>
  </div>
  <form (ngSubmit)="submitOrder()" #form="ngForm" *ngIf="userLoggedIn">
    <h3>Your Address</h3>
    <p>Please complete missing data</p>
    <br />
    <p>Full name</p>
    <input
      type="text"
      name="fullname"
      required
      minlength="3"
      maxlength="50"
      placeholder="(minimum 3 characters)"
      [(ngModel)]="fullName"
    />
    <p>Address</p>
    <input
      type="text"
      name="address"
      required
      minlength="6"
      maxlength="255"
      placeholder="(minimum 6 characters)"
      [(ngModel)]="address"
    />
    <p>Credit Card Number</p>
    <input
      type="text"
      name="cardnumber"
      required
      pattern="\d{16}"
      minlength="16"
      maxlength="16"
      placeholder="(16-digit number)"
      [(ngModel)]="cardNumber"
    />
    <input type="submit" [disabled]="form.invalid" style="margin-left: 20px" />
  </form>
</div>
