/* Shared Styling for all components */
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer;
  color: #2c3e50; /* Dark blue color */
  background-color: #ecf0f1; /* Off-white color */
}

button:hover {
  background-color: #bdc3c7; /* Light gray for hover effect */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  font-size: 16px;
}

/* Styles for disabled button */
input[type="submit"]:disabled {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #cccccc;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:not(:disabled) {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3; /* A slightly darker blue for hover */
}

/* Button Container */
.button-container {
  background-color: #ddccca; /* Red-ish color for contrast */
  padding: 20px;
  border-radius: 4px;
  color: #ecf0f1;
  text-align: center;
}

.button-container p {
  color: black;
}

.center-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Form Styling */
form {
  background-color: #f7f9fa; /* Lighter gray to separate the form */
  padding: 20px;
  border-radius: 4px;
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  color: #2c3e50;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
  color: #7f8c8d; /* Dark grayish-blue for some contrast */
}

.validation-error {
  font-size: smaller;
  padding-left: 10px;
  color: red;
}
