<div>
  <div *ngIf="!userLoggedIn" class="button-container">
    <p>Please register or login before the order can be submitted</p>
    <br />
    <div class="center-buttons">
      <button style="margin-left: 20px" (click)="register()">Register</button>
      <button style="margin-left: 20px" (click)="login()">Log-in</button>
    </div>
  </div>
  <form (ngSubmit)="submitOrder()" #form="ngForm" *ngIf="userLoggedIn">
    <h3>Your Address</h3>
    <p>Please complete missing data</p>
    <br />
    <p>Full name</p>
    <input
      type="text"
      name="fullname"
      required
      minlength="4"
      maxlength="100"
      placeholder="(minimum 4 characters)"
      [(ngModel)]="fullName"
      #fullNameInput="ngModel"
    />
    <div
      *ngIf="fullNameInput.invalid && fullNameInput.dirty"
      class="validation-error"
    >
      Fullname must be between 4 and 100 characters.
    </div>
    <p>Address</p>
    <input
      type="text"
      name="address"
      required
      minlength="6"
      maxlength="255"
      placeholder="(minimum 6 characters)"
      [(ngModel)]="address"
      #addressInput="ngModel"
    />
    <div
      *ngIf="addressInput.invalid && addressInput.dirty"
      class="validation-error"
    >
      Address must be between 6 and 255 characters.
    </div>
    <p>Credit Card Number</p>
    <input
      type="text"
      name="cardnumber"
      required
      pattern="\d{16}"
      minlength="16"
      maxlength="16"
      placeholder="(16-digit number)"
      [(ngModel)]="cardNumber"
      #cardNumberInput="ngModel"
    />
    <div
      *ngIf="cardNumberInput.invalid && cardNumberInput.dirty"
      class="validation-error"
    >
      Credit Card Number must have 16 digits.
    </div>
    <input
      type="submit"
      [disabled]="
        form.invalid || addressInput.pristine || cardNumberInput.pristine
      "
      value="Order Cart"
    />
  </form>
</div>
