<div (click)="productClicked()" class="prodItem clickable-item">
  <h3>{{ product.title }}</h3>
  <img
    src="http://localhost:3000/img/images?filename={{
      product.imageFile
    }}&width={{ width }}&height={{ height }}"
  />
  <p class="prodDescription">{{ product.description }}</p>
  <p>Price {{ product.price }}</p>

  <input
    type="text"
    pattern="\d"
    name="quantity"
    placeholder="enter number (1-999)"
    [(ngModel)]="product.quantity"
  />

  <button
    class="btn btn-primary"
    (click)="addToCart(product); $event.stopPropagation()"
  >
    Add to Cart
  </button>
</div>
