<div (click)="productClicked()" class="product-container clickable-item">
  <h3>{{ product.title }}</h3>
  <img
    src="http://shop1-env.eba-dcmw5bnw.eu-central-1.elasticbeanstalk.com/img/images?filename={{
      product.imageFile
    }}&width={{ width }}&height={{ height }}"
  />
  <p class="prodDescription">{{ product.description }}</p>
  <p>Price {{ product.price }}</p>
  <div class="quantity-control">
    <button
      *ngIf="product.quantity > 0"
      class="qty-btn"
      (click)="decreaseQuantity(product); $event.stopPropagation()"
    >
      -
    </button>
    <span class="qty-number">{{ product.quantity }}</span>
    <button
      *ngIf="product.quantity > 0"
      class="qty-btn"
      (click)="increaseQuantity(product); $event.stopPropagation()"
    >
      +
    </button>
  </div>

  <button
    *ngIf="product.quantity == 0"
    class="btn btn-primary btn-empty"
    (click)="addToCart(product); $event.stopPropagation()"
  >
    Add to Cart
  </button>
  <button
    *ngIf="product.quantity > 0"
    class="btn btn-primary btn-selected"
    (click)="addToCart(product); $event.stopPropagation()"
  >
    Add to Cart (added)
  </button>
  <p *ngIf="addedMsg" class="added-confirmation">Product added to cart.</p>
  <p *ngIf="removedMsg" class="added-confirmation">
    Product removed from cart.
  </p>
</div>
