/* General Styles */
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* viewport height - centers the form in the middle of the screen */
  background: #f7f9fc; /* light grayish-blue background */
}

.centered-content form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* subtle shadow */
  background: #ffffff;
  width: 300px;
}

.centered-content h1 {
  margin-bottom: 25px;
  color: #333; /* dark text for contrast */
}

.centered-content input[type="text"],
.centered-content input[type="password"] {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: #f0f2f5; /* light background to differentiate from white form background */
  margin-bottom: 15px;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

.centered-content input[type="text"]:focus,
.centered-content input[type="password"]:focus {
  outline: none;
  background: #e5e8ed; /* slightly darker on focus for feedback */
}

.centered-content input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.centered-content input[type="submit"]:hover {
  background-color: #0056b3; /* darker shade of blue */
}

.error-message {
  color: #ff4d4d; /* Red for error messages */
  margin-top: 15px;
  font-weight: bold;
}
