<div class="centered-content">
  <form
    (ngSubmit)="loginUser(login, password)"
    #form="ngForm"
    class="login-form"
  >
    <h1>Login</h1>
    <div class="input-group">
      <input
        type="text"
        name="login"
        minlength="3"
        maxlength="20"
        placeholder="login"
        [(ngModel)]="login"
        #loginInput="ngModel"
      />
    </div>
    <div class="input-group">
      <input
        type="password"
        name="password"
        minlength="6"
        maxlength="50"
        placeholder="password"
        [(ngModel)]="password"
        #passwordInput="ngModel"
      />
    </div>
    <div class="submit-container">
      <input
        type="submit"
        value="Login"
        [disabled]="
          form.invalid || loginInput.pristine || passwordInput.pristine
        "
      />
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
  </form>
</div>
