.centered-content form {
  display: flex;
  flex-direction: column;
  align-items: start; /* Ensures the elements align to the left */
}

.centered-content input[type="text"],
.centered-content input[type="password"] {
  margin-bottom: 15px; /* Adds spacing between input fields */
}

.centered-content input[type="submit"] {
  margin-top: 20px; /* Adds spacing above the submit button */
}

.error-message {
  flex: 1; /* Allow error message to take up all available space */
  color: red; /* Assuming you want the error in red; adjust as needed */
}
