<div class="centered-content">
  <form (ngSubmit)="loginUser(login, password)" #form="ngForm">
    <h3>Login</h3>
    <input
      type="text"
      name="login"
      minlength="3"
      maxlength="20"
      placeholder="login"
      [(ngModel)]="login"
    />
    <input
      type="password"
      name="password"
      minlength="6"
      maxlength="50"
      placeholder="password"
      [(ngModel)]="password"
    />

    <input type="submit" [disabled]="form.invalid" style="margin-left: 20px" />
  </form>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
