<div class="product-container">
  <h3>Product Detail {{ product.title }}</h3>
  <div class="product-image">
    <img
      src="http://localhost:3000/img/images?filename={{
        product.imageFile
      }}&width={{ width }}&height={{ height }}"
    />
  </div>
  <div class="prodDetail">
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    <div class="quantity-control">
      <button
        *ngIf="product.quantity > 0"
        class="qty-btn"
        (click)="decreaseQuantity(product); $event.stopPropagation()"
      >
        -
      </button>
      <span class="qty-number">{{ product.quantity }}</span>
      <button
        *ngIf="product.quantity > 0"
        class="qty-btn"
        (click)="increaseQuantity(product); $event.stopPropagation()"
      >
        +
      </button>
    </div>
    <button
      *ngIf="product.quantity == 0"
      class="btn-primary btn-empty"
      (click)="addToCart(product)"
    >
      Add to Cart
    </button>
    <button
      *ngIf="product.quantity > 0"
      class="btn-primary btn-selected"
      (click)="addToCart(product)"
    >
      Add to Cart
    </button>
    <br />
  </div>
</div>
