.prodDetail {
  display: grid;
  grid-template-columns: 1fr 1fr; /* This creates three equally wide columns */
  gap: 10px; /* This is the gap between the grid items */
  align-items: center;
  justify-items: center;
}
