<div class="centered-content">
  <form
    (ngSubmit)="
      register({
        login: user.login,
        password: user.password,
        firstName: user.firstName,
        lastName: user.lastName,
        email: user.email,
        token: user.token
      })
    "
    #form="ngForm"
    class="comp-form"
  >
    <h1>Register to Shop</h1>

    <div class="input-group">
      <p>Login</p>
      <input
        type="text"
        name="login"
        required
        minlength="3"
        maxlength="20"
        placeholder="(minimum 3 characters)"
        [(ngModel)]="user.login"
        #loginInput="ngModel"
      />
      <div
        *ngIf="loginInput.invalid && loginInput.dirty"
        class="validation-error"
      >
        Login must be between 3 and 20 characters.
      </div>
    </div>
    <div class="input-group">
      <p>Password</p>
      <input
        type="password"
        name="password"
        required
        minlength="6"
        maxlength="20"
        placeholder="(minimum 6 characters)"
        [(ngModel)]="user.password"
        #passwordInput="ngModel"
      />
      <div
        *ngIf="passwordInput.invalid && passwordInput.dirty"
        class="validation-error"
      >
        Password must be between 6 and 20 characters.
      </div>
    </div>
    <div class="input-group">
      <p>First Name</p>
      <input
        type="text"
        name="firstName"
        required
        minlength="2"
        maxlength="50"
        placeholder="(minimum 6 characters)"
        [(ngModel)]="user.firstName"
        #firstNameInput="ngModel"
      />
      <div
        *ngIf="firstNameInput.invalid && firstNameInput.dirty"
        class="validation-error"
      >
        Firstname must be between 2 and 50 characters.
      </div>
    </div>
    <div class="input-group">
      <p>Last Name</p>
      <input
        type="text"
        name="lastName"
        required
        minlength="2"
        maxlength="50"
        placeholder="(minimum 6 characters)"
        [(ngModel)]="user.lastName"
        #lastNameInput="ngModel"
      />
      <div
        *ngIf="lastNameInput.invalid && lastNameInput.dirty"
        class="validation-error"
      >
        Lastname must be between 2 and 50 characters.
      </div>
    </div>
    <div class="input-group">
      <p>E-mail</p>
      <input
        type="email"
        name="email"
        required
        email
        placeholder="E-Mail"
        [(ngModel)]="user.email"
        #emailInput="ngModel"
      />
      <div
        *ngIf="emailInput.invalid && emailInput.dirty"
        class="validation-error"
      >
        Email is not valid.
      </div>
    </div>
    <div class="register-container">
      <input
        type="submit"
        value="Register"
        [disabled]="
          form.invalid ||
          loginInput.pristine ||
          passwordInput.pristine ||
          firstNameInput.pristine ||
          lastNameInput.pristine ||
          emailInput.pristine
        "
      />

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    </div>
  </form>
</div>
