.register-form {
}

.register-container {
  display: flex;
  align-items: center; /* Vertically align items if they have different heights */
}

.error-message {
  flex: 1; /* Allow error message to take up all available space */
  color: red; /* Assuming you want the error in red; adjust as needed */
}
