<form>
  <h3>Register to Shop</h3>
  <p>Login</p>
  <input
    type="text"
    name="login"
    placeholder="(minimum 3 characters)"
    [(ngModel)]="user.login"
  />
  <p>Password</p>
  <input
    type="password"
    name="password"
    placeholder="(minimum 6 characters)"
    [(ngModel)]="user.password"
  />
  <p>First Name</p>
  <input
    type="text"
    name="firstName"
    placeholder="(minimum 6 characters)"
    [(ngModel)]="user.firstName"
  />
  <p>Last Name</p>
  <input
    type="text"
    name="lastName"
    placeholder="(minimum 6 characters)"
    [(ngModel)]="user.lastName"
  />
  <p>E-mail</p>
  <input
    type="text"
    name="email"
    placeholder="E-Mail"
    [(ngModel)]="user.email"
  />
  <button
    style="margin-left: 20px"
    (click)="
      register(
        user.login,
        user.password,
        user.firstName,
        user.lastName,
        user.email,
        user.token
      )
    "
  >
    Register
  </button>
</form>
