<div class="centered-content">
  <h1>{{ title }}</h1>
  <div class="content-wrapper">
    <div class="cart-container">
      <div *ngIf="cartCount == 0" class="empty-cart-message">
        <p>Shopping Cart is empty</p>
      </div>

      <div class="cart-items" *ngIf="cartCount > 0">
        <app-cart-item
          (itemRemovedMsg)="handleItemRemovedMsg()"
          *ngFor="let cartItem of cartItems"
          [cartItem]="cartItem"
        ></app-cart-item>
        <div class="cart-action-container">
          <button class="clear-cart-btn" (click)="clearCart()">
            Clear Cart
          </button>
          <p class="total-price">
            Total Price: ${{ getTotalPrice() | number : "1.0-2" }}
          </p>
        </div>
        <p *ngIf="showCartMsg" class="added-confirmation">
          Product removed from cart.
        </p>
      </div>
    </div>
    <div class="address">
      <app-address [getTotalPrice]="getTotalPrice"></app-address>
    </div>
  </div>
</div>
