.centered-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin: 20px 20px 20px 20px;
}

.content-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cart-container {
  flex: 1;
  margin-left: 30px;
  padding-bottom: 40px;
  width: 50%;
  display: flex;
  flex-direction: column; /* Set the direction to column to stack the items and the button + total_price */
  justify-content: space-between; /* This will push the cart items to the top and the button + total_price to the bottom */
}

.cart-items {
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: column; /* Stack children vertically */
  height: 100%; /* Take full height of its container */
}

.cart-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-cart-btn {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: pointer;
  color: #2c3e50;
  background-color: #ecf0f1;
}

.address {
  flex: 1;
  width: 50%;
  justify-content: center;
}

.total-price {
  font-size: 20px; /* Increase font size for better visibility */
  font-weight: bold; /* Bold font for emphasis */
  color: #2c3e50; /* Dark blue color for contrast */
  padding: 5px 0; /* Add a little vertical padding for spacing */
  margin-right: 20px; /* Right margin for spacing */
}
