<div class="navigation">
  <div class="header">Product Store</div>
  <div class="centered-buttons">
    <button class="nav-button" routerLink="/">Products List</button>
    <br />
    <button class="nav-button" routerLink="/cart">
      Shopping Cart<span *ngIf="cartCount > 0">{{
        " " + cartCount + " items"
      }}</span>
    </button>
    <br />
  </div>
  <button
    *ngIf="userLoggedIn"
    class="nav-button nav-button-right"
    (click)="logoffUser()"
  >
    Log-off
  </button>
</div>
