/* You can add global styles to this file, and also import other style files */

.centered-content {
  display: grid;
  place-items: center; /* shorthand for align-items and justify-items */
  height: 100%; /* takes the full height of its parent */
}
